### Datathon 

Este é um notebook exemplo para leitura de dados no formato parquet para um dataframe pandas.

In [ ]:
!pip install pyarrow
!pip install pandas

Requirement already satisfied: pyarrow in /usr/local/lib/python3.8/dist-packages (5.0.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.8/dist-packages (from pyarrow) (1.21.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7.3->pandas) (1.14.0)

In [ ]:
#import das bibliotecas
import pandas as pd

In [ ]:
#leitura de um arquivo parquet utilizando pyarrow, criando um dataframe pandas

#altere o <dir> para os diretório que contém os arquivos parquet que deseja analisar
#exemplo: files = r'/mnt/c/Users/Monique/datathon/tb_cnes_estabelecimentos/'

files = r'<dir>'
df = pd.read_parquet(files, engine='pyarrow')

#criado o dataframe df

In [ ]:
#visualizando os primeiros dados do dataframe
df.head()

,CO_UNIDADE,CO_CNES,NU_CNPJ_MANTENEDORA,TP_PFPJ,NIVEL_DEP,NO_RAZAO_SOCIAL,NO_FANTASIA,NO_LOGRADOURO,NU_ENDERECO,NO_COMPLEMENTO,...,TP_ESTAB_SEMPRE_ABERTO,ST_GERACREDITO_GERENTE_SGIF,ST_CONEXAO_INTERNET,CO_TIPO_UNIDADE,NO_FANTASIA_ABREV,TP_GESTAO,DT_ATUALIZACAO_ORIGEM,CO_TIPO_ESTABELECIMENTO,CO_ATIVIDADE_PRINCIPAL,ST_CONTRATO_FORMALIZADO
0,3556205173388,5173388,None,1,1,SILVIO MAURICIO RINHEL VIRDES,SILVIO MAURICIO RINHEL VIRDES,RUA 13 DE MAIO,133,1 ANDAR,...,N,None,S,None,None,M,16/12/2006,016,001,N
1,4306102263483,2263483,None,3,1,LABORATORIO DE ANALISES CLINICAS BISSO LTDA,LABORATORIO BISSO LTDA,RUA CORONEL MARTINS,994,None,...,N,None,S,None,None,M,17/03/2003,018,002,N
2,4314409891307,9891307,None,1,1,ANA CAROLINA AZEREDO TESSARO,ANA CAROLINA AZEREDO TESSARO,GONCALVES CHAVES,3027,None,...,N,None,S,None,None,M,06/09/2019,016,001,N
3,5107959088326,9088326,None,3,1,SALES SAAD SOCIEDADE MEDICA,SALES SAAD SOCIEDADE MEDICA,RUA ANTONIO RIBEIRO DA ROCHA,54,SALA 01 SETOR W,...,N,None,S,None,None,M,02/11/2016,016,001,None
4,5107959306048,9306048,None,3,1,ARAUJO LACERDA SOCIEDADE MEDICA,ARAUJO LACERDA SOCIEDADE MEDICA,AV PRESIDENTE TANCREDO DE ALMEIDA NEVES,481,W SALA 04,...,N,None,S,None,None,M,11/09/2017,016,001,None

In [ ]:
#visualizando a estrutura do dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418045 entries, 0 to 418044
Data columns (total 54 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   CO_UNIDADE                   418045 non-null  object
 1   CO_CNES                      418045 non-null  object
 2   NU_CNPJ_MANTENEDORA          101945 non-null  object
 3   TP_PFPJ                      418045 non-null  object
 4   NIVEL_DEP                    418045 non-null  object
 5   NO_RAZAO_SOCIAL              418043 non-null  object
 6   NO_FANTASIA                  418023 non-null  object
 7   NO_LOGRADOURO                418044 non-null  object
 8   NU_ENDERECO                  417756 non-null  object
 9   NO_COMPLEMENTO               187219 non-null  object
 10  NO_BAIRRO                    418043 non-null  object
 11  CO_CEP                       418045 non-null  object
 12  CO_REGIAO_SAUDE              209513 non-null  object
 13  CO_MICRO_REGIAO              16128 non-null   object
 14  CO_DISTRITO_SANITARIO        38529 non-null   object
 15  CO_DISTRITO_ADMINISTRATIVO   4430 non-null    object
 16  NU_TELEFONE                  326595 non-null  object
 17  NU_FAX                       81146 non-null   object
 18  NO_EMAIL                     197359 non-null  object
 19  NU_CPF                       140005 non-null  object
 20  NU_CNPJ                      178849 non-null  object
 21  CO_ATIVIDADE                 418045 non-null  object
 22  CO_CLIENTELA                 411956 non-null  object
 23  NU_ALVARA                    285810 non-null  object
 24  DT_EXPEDICAO                 284701 non-null  object
 25  TP_ORGAO_EXPEDIDOR           290276 non-null  object
 26  DT_VAL_LIC_SANI              126291 non-null  object
 27  TP_LIC_SANI                  126620 non-null  object
 28  TP_UNIDADE                   418045 non-null  object
 29  CO_TURNO_ATENDIMENTO         417119 non-null  object
 30  CO_ESTADO_GESTOR             418045 non-null  object
 31  CO_MUNICIPIO_GESTOR          418045 non-null  object
 32  DT_ATUALIZACAO               418045 non-null  object
 33  CO_USUARIO                   418044 non-null  object
 34  CO_CPFDIRETORCLN             367153 non-null  object
 35  REG_DIRETORCLN               233173 non-null  object
 36  ST_ADESAO_FILANTROP          2537 non-null    object
 37  CO_MOTIVO_DESAB              85852 non-null   object
 38  NO_URL                       6286 non-null    object
 39  NU_LATITUDE                  345542 non-null  object
 40  NU_LONGITUDE                 345602 non-null  object
 41  DT_ATU_GEO                   328244 non-null  object
 42  NO_USUARIO_GEO               327668 non-null  object
 43  CO_NATUREZA_JUR              418040 non-null  object
 44  TP_ESTAB_SEMPRE_ABERTO       363105 non-null  object
 45  ST_GERACREDITO_GERENTE_SGIF  30 non-null      object
 46  ST_CONEXAO_INTERNET          377974 non-null  object
 47  CO_TIPO_UNIDADE              0 non-null       object
 48  NO_FANTASIA_ABREV            2 non-null       object
 49  TP_GESTAO                    418045 non-null  object
 50  DT_ATUALIZACAO_ORIGEM        418045 non-null  object
 51  CO_TIPO_ESTABELECIMENTO      369814 non-null  object
 52  CO_ATIVIDADE_PRINCIPAL       369812 non-null  object
 53  ST_CONTRATO_FORMALIZADO      103952 non-null  object
dtypes: object(54)
memory usage: 172.2+ MB